@import url(./fonts.css);
@import url(./animations.css);

/* override */
*,
*:before,
*:after {
  box-sizing: inherit;
}


:root {
  --grid-color: #35a4f7;
  --title-font: 'Audiowide', cursive;
  --subtitle-font: 'Rock Salt', cursive;
}

img,
svg {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
}

.main-container {}

html {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'VT323', monospace;
  background: #000000 url("../img/bg-pattern.png") repeat;
  min-height: 100vh;
}


/* override END ---------- */
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.kira-text {
  animation: rgbText 1s steps(9) 0s infinite alternate;
}

.title-2 {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

.nulls-network {
  color: #FFFDE5;
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 20px;
  filter: drop-shadow(0 0 3px white);
}

.logo-image {
  transform: rotate(4deg);
  height: 20rem;
  filter: blur(1px);
}

.logo-container {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  filter: opacity(.9);
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.btnn {
  cursor: pointer;
  pointer-events: auto;
  transition: .2s ease;
  filter: brightness(.9) blur(1px);
}

.btnn:hover {
  filter: brightness(1.1) blur(1px);
  transform: scale(1.15);
}

.btnn:active {
  transform: scale(.9);
}

.grain {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../img/dotnoise-light-grey.png");
  animation: static 2s steps(1) infinite;
  opacity: 0.4;
  z-index: 11;
}


.button-container {
  padding: 30px 0 80px 0;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.mask-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}



.mask {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  pointer-events: none;
}


.title-box {
  display: flex;
  align-items: flex-end;
  padding: 20px 0;
  width: 100%;
  height: 180px;
}

.content-left {
  padding: 20px;
}

.text-introduce {
  font-weight: bold;
  margin-top: 50px;
  font-size: 1.6rem;
}

.introduce-container {
  margin-top: 30px;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 400;
  opacity: 0.8;
  pointer-events: none;
  opacity: 1;
  z-index: 450;
}

.noise:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/background-noise.png');
  pointer-events: none;
  will-change: background-position;
  animation: noise 1s infinite alternate;
}

.mask .noise:before {
  background-size: 150%;
}



div.withshadow {
  padding: 0px 10px 20px;
  border-radius: 40px;
  box-shadow: 0 0 50px 50px #000;
  background: #000;
}



.vhs {
  position: relative;
  mix-blend-mode: screen;
  color: transparent;
  text-shadow: 0 0 0.125rem #0f0;
  -webkit-animation: jitter 5s infinite;
  animation: jitter 5s infinite;
}

.vhs::before,
.vhs::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  -webkit-animation: glitch 5s infinite alternate;
  animation: glitch 5s infinite alternate;
}



.vhs::before {
  text-shadow: 0 0 0.125rem #f00;
}

.vhs::after {
  text-shadow: 0 0 0.125rem #00f;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.mask {
  font-size: 18px;
}

.mask .vhs {
  position: absolute;
  left: 2rem;
  top: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
}

.mask .vhs .char {
  will-change: opacity;
  animation: type 1.2s infinite alternate;
  animation-delay: calc(60ms * var(--char-index));
}

.mask .right-top {
  position: absolute;
  right: 2rem;
  top: 2rem;
  will-change: text-shadow;
  animation: rgbText 1s steps(9) 0s infinite alternate;
}

.mask .right-bottom {
  display: none;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.mask .left-bottom {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  will-change: text-shadow;
  filter: drop-shadow(0 0 5px white);
  /* -webkit-text-stroke: 2px #ddd; */
}



.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container-sm,
  .container {
    max-width: 540px;
  }

  .title-box {
    height: 220px;
  }


  .nulls-network {
    font-size: 6rem;
  }

  .title-2 {
    font-size: 2rem;
  }

  .text-introduce {
    font-size: 1.8rem;
  }

  .logo-image {
    height: 22rem;
  }

  .content {
    flex-wrap: wrap;
  }

  .button-container {
    padding: 60px 0 80px 0;
    margin-bottom: 50px;
    justify-content: center;
    pointer-events: auto;
  }

  .mask {
    font-size: 24px;
  }

  .mask .right-bottom {
    display: none;
  }
}

@media (min-width: 868px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }

  .title-box {
    height: 220px;
  }


  .nulls-network {
    font-size: 5rem;
  }

  .title-2 {
    font-size: 2.3rem;
  }

  .text-introduce {
    font-size: 2rem;
  }

  .logo-image {
    height: 24rem;
  }

  .content {
    flex-wrap: nowrap;
  }

  .button-container {
    display: none;
    padding: 60px 0;
    justify-content: center;
  }

  .mask {
    font-size: 26px;
  }

  .mask .right-bottom {
    display: block;
  }
}

@media (min-width: 992px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }

  .main-container {
    padding-top: 30px;
  }

  .title-box {
    height: 220px;
  }


  .nulls-network {
    font-size: 6rem;
  }

  .title-2 {
    font-size: 2.3rem;
  }

  .text-introduce {
    font-size: 2rem;
  }

  .logo-image {
    height: 26rem;
  }

  .content {
    flex-wrap: nowrap;
  }

  .button-container {
    display: none;
    padding: 60px 140px;
    justify-content: flex-end;
  }

  .mask {
    font-size: 28px;
  }

  .mask .right-bottom {
    display: block;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
  
  .main-container {
    padding-top: 40px;
  }

  .title-box {
    height: 230px;
  }


  .nulls-network {
    font-size: 6rem;
  }

  .title-2 {
    font-size: 2.3rem;
  }

  .text-introduce {
    font-size: 2.1rem;
  }

  .logo-image {
    height: 30rem;
  }

  .button-container {
    display: none;
    padding: 60px 140px;
    justify-content: flex-end;
  }

  .mask {
    font-size: 30px;
  }

  .mask .right-bottom {
    display: block;
  }
}

@media (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }

  .main-container {
    padding-top: 50px;
  }

  .title-box {
    height: 240px;
  }

  .nulls-network {
    font-size: 6.375rem;
  }

  .title-2 {
    font-size: 2.5rem;
  }

  .text-introduce {
    font-size: 2.25rem;
  }

  .logo-image {
    height: 30rem;
  }

  .content {
    flex-wrap: nowrap;
  }

  .button-container {
    display: none;
    padding: 60px 140px;
    justify-content: flex-end;
  }

  .mask {
    font-size: 32px;
  }

  .mask .right-bottom {
    display: block;
  }
}

@media (min-width: 2060px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1920px;
  }

  .main-container {
    padding-top: 120px;
  }

  .title-box {
    padding-top: 40px;
    height: 320px;
  }

  .nulls-network {
    font-size: 8.375rem;
  }

  .title-2 {
    font-size: 3.5rem;
  }

  .text-introduce {
    font-size: 3rem;
  }

  .logo-image {
    height: 50rem;
  }

  .content {
    flex-wrap: nowrap;
  }

  .button-container {
    display: none;
    padding: 60px 140px;
    justify-content: flex-end;
  }

  .mask {
    font-size: 3rem;
  }

  .mask .right-bottom {
    display: block;
  }
}